svg:hover path#lt {
  animation-name: ltHover;
  animation-duration: 15s;
  animation-fill-mode: forwards;
}
svg:hover path#dot {
  animation-name: dotHover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
svg:hover path#gt {
  animation-name: gtHover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
